/*  ///////////////////////////////////////////////
   //          * Partial Sass File *            //
  /////////////////////////////////////////////// */

/*  ///////////////////////////////////////////////
   //            * MASTER CONTROLS *            //
  /////////////////////////////////////////////// */

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  // This defines what 1rem is
  font-size: 62.5%; // 1rem = 10px; 10px/16 = 62.5%

  // Max width
  @include respond(tab-land) { // Width < 1200
    font-size: 56.25%; // 1 rem = 9px; 9/16 = 56.25%
  }

  @include respond(tab-port) { // Width < 900
    font-size: 50%; // 1 rem = 8px; 8/16 = 50%
  }

  @include respond(phone) { // Width < 600
    font-size: 43.75%; // 1 rem = 7px; 7/16 = 43.75%
  }

  // Min width
  @include respond(big-desktop) { // Width < 1800
    font-size: 75%; // 1 rem = 12px; 12/16 = 75%
  }

}

body {
  /* Inherit */
  box-sizing: border-box;
}